<div class="container">

<footer class="footer navbar-fixed-bottom">

<small>

Copyright &copy; <a href="https://huzaifa.bashir">The first football blog in nigeria</a>

by <a href="enter in a link here">Huzaifa Bashir Turaki</a>

</small>

<nav>

<ul>

<li><%= link_to "About", about_path %></li>

</ul>

</nav>

</footer>

</div>